@import url('https://fonts.googleapis.com/css?family=Lato');
@-webkit-keyframes sdb03 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(255,255,255,.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb03 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(255,255,255,.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes flash{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

.large-text{
    font-size: 6vw;
}

.medium-text{
    font-size: 4vw;
}

.small-text{
    font-size: 2vw;
}

.extra-small-text{
    font-size: 1.5vw;
}


body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url("img/funky-lines.png");
    background-size: 50%;
    font-family: 'Lato', sans-serif;
}

.white-links a{
    color: white;
    text-decoration: none;
}

.black-links a{
    color: black;
    text-decoration: none;
}

.weblink{
    color: 	#585858;
    text-decoration: none;
}

a:hover{
    color: grey;
}

a:link:hover{
    color: grey;
}


#MainContainer {
  height: 100vh;
  perspective: 1px;
  transform-style: preserve-3d;
  overflow-x: hidden;
  overflow-y: scroll;
}

.ContentContainer {
  position: relative;
  display: block;
  background-color: white;
  z-index: 0;
  -webkit-animation: move 10s ease infinite;
      animation: move 10s ease infinite;
  -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
  background: lightgreen; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(right top, lightgreen, turquoise); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom left, lightgreen, turquoise); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom left, lightgreen, turquoise); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom left, lightgreen, turquoise); /* Standard syntax */
  position: relative;
  overflow: hidden;
  z-index: 1;
  box-shadow: 0px 5px 15px 0px grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  width: 100%;
}

.Content {
  margin: 0 auto;
  padding: 0 0;
}

.ParallaxContainer {
  width: 100%;
  position: relative;
  z-index: -1;
  transform: translateZ(-1px) scale(2);
}



#about{
    height: 100%;
    width: 100%;
    text-align: center;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;

}

#about-contents{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    margin: 0 auto;
}

#about-text{
    width: 45%;
    padding-left: 2.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#about-image{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#about-profile{
    width: 60%;
    margin: auto;
    border-radius: 50%;

}

#about h2{
    margin: 0;
    font-size: 4vw;
    padding: 20px 0px;
}

#about h3{
    margin: 0;
    font-size: 2vw;
    padding: 10px 0px;
}

#top{
    height: 100vh;
}

#top-content{
    text-align: center;
    margin: 0;
    padding: 0;
}

#top-title{
    font-size: 6vw;
    margin: 0;
    padding: 0;

}

#top-text{
    font-size: 4vw;
    margin: 0;
    padding: 0;
}

#nav-bar{
    z-index: 1;
    position: fixed;
    width: 100%;
    overflow-y: none;
}

#nav-items {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(255,255,255,0);
}

.nav-item {
    float: left;
    width: 20%;


}

.nav-item a {
    display: block;
    color: purple;
    font-size: 1.5vw;
    text-align: center;
    padding-top: 3vh;
    padding-bottom: 3vh;
    text-decoration: none;

}


.nav-item a:hover {
    background-color: rgba(255,255,255,.1);
    color: #b19cd9;
    cursor: pointer;
}

.down-arrow a {
  padding-top: 60px;
}
.down-arrow a span {
  position: absolute;
  top: 0;
  width: 56px;
  height: 56px;
  border: 3px solid #fff;
  border-radius: 100%;
}
.down-arrow a span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  width: 16px;
  height: 16px;
  margin: -12px 0 0 -8px;
  border-left: 3px solid #fff;
  border-bottom: 3px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}
.down-arrow a span::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  content: '';
  width: 54px;
  height: 54px;
  box-shadow: 0 0 0 0 rgba(255,255,255,.8);
  border-radius: 100%;
  opacity: 0;
  -webkit-animation: sdb03 4s infinite;
  animation: sdb03 4s infinite;
  box-sizing: border-box;
}

.down-arrow a{
    position: absolute;
    bottom: 20px;
}

.down-arrow a:hover {
  opacity: .5;
  cursor:pointer;
}

.down-button{
    margin: 0;
    padding: 0;
    position: relative;
    left: -33px;
    top: 35vh;
    z-index: 2;
}


.bold {
    font-weight: bolder;
    color: purple;
}

#skill {
    height: 100vh;
}
#skills-text{
    text-align: left;
    position: relative;
    top: 10px;
    margin:auto;
    padding: 5%;
    font-size: 4em;
}

 #projects{
    width: 100%;
    text-align: center;
    color: black;
    display: flex;
    flex-direction: column;
    height: 2000vh;
    padding-top: 1000vh;
 }

#projects-content{
    width: 80%;
    margin: 0 auto;
    background: rgba(0,0,0,0);
    box-shadow: none;
    padding-bottom: 75vh;
}

#project-blocks{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.project-column{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 50%;
    height: 100%;
    margin: 0px 15px;

}

#column-2{
    padding-top: 16vh;
}
.block{
    width: 100%;
    margin: 15px 0px;
    -webkit-animation: move 10s ease infinite;
        animation: move 10s ease infinite;
    -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    background: lightgreen; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(right top, lightgreen, turquoise); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom left, lightgreen, turquoise); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom left, lightgreen, turquoise); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom left, lightgreen, turquoise); /* Standard syntax */
    box-shadow: 0px 5px 15px 0px grey;
    color: white;
    height: 75vh;
}

.project {
    background: rgba(255,255,255,.8);
}

#project-title{
    height: 33vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2vw;
}

#contact {
    height: 40vh;
}

#web-docs{
    height: 33vh;
    -webkit-animation: move 10s ease infinite;
        animation: move 10s ease infinite;
    -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    background: lightgreen; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(right top, lightgreen, turquoise); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom left, lightgreen, turquoise); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom left, lightgreen, turquoise); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom left, lightgreen, turquoise); /* Standard syntax */
    color: white;


}

.project{
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.proj-title{
    margin: 5px auto;

}

.proj-sub{
    margin: 5px auto;
    display: block;

}

.proj-text{
    width: 90%;
    text-align: left;
    display: block;
    margin: 5px auto;

}

.altProj{
    -webkit-animation: move 10s ease infinite;
        animation: move 10s ease infinite;
    -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    background: lightgreen; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(right top, lightgreen, turquoise); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom left, lightgreen, turquoise); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom left, lightgreen, turquoise); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom left, lightgreen, turquoise); /* Standard syntax */
    color: white;
}

.proj-icon{
    width: 40%;

}

.proj-web{
    width: 90%;
}

#email{
    text-align: center;
}


#social-media-icons{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#social-media{
    width: 50%;
    margin: auto;
}

.social {
    float: left;
    text-align: center;
    width: 25%;
    font-size: 2vw;
}

#web-text{
    margin: 10px;
}

.devpost-icon {
    display: inline-block;
    margin: 0 5px;
    height: 1.17em;
}

.cursor{
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  right: -5px;
  width: 2px;
  /* Change colour of Cursor Here */
  background-color: white;
  z-index: 1;
  animation: flash 0.5s none infinite alternate;
}



@media screen and (max-width: 840px){

    #MainContainer{
        overflow: scroll;
        -webkit-overflow-scrolling: touch;
    }
    .proj-text{
        font-size: 1em;
    }

    #projects{
        margin-top: 0;
    }

    #projects-content{
        width: 90%;
    }

    #project-blocks{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #projects{
       width: 100%;
       text-align: center;
       color: black;
       display: flex;
       flex-direction: column;
       height: auto;
       padding-top: 10px;
       padding-bottom: 10px;

    }

    .project-column{
        width: 100%;
    }

    #column-2{
        padding-top: 0;
    }


    #projects-content{
        margin: auto;
        margin-bottom: 0;
        padding-bottom: 0;
        padding-top: 0;

        width: 80%;
    }

    #skills-text{
        font-size: 2em;
    }

    #about-text{
        font-size: 2em;
    }

    #about-image{
        width: 75%;
        margin: 10px auto;
    }

    #column-1{
        margin: 0;

    }

    #column-2{
        margin:0;
    }

    .block{
        padding-top: 20px;
        padding-bottom: 20px;
        height: auto;
    }

    #commingSoon{
        display: none;
    }

    #email-text{
        margin: 0 5px;
        padding-top: 10px;
    }

    #top-title{
        font-size: 2em;
    }

    #about{
        min-height: 100%;
        height: auto;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    #about-contents{
        flex-direction: column-reverse;
        text-align: center;
 
    }

    #about-text{
        margin: 10px auto;
        padding: 0;
        width: 90%;
        font-size: 10em;
    }

    #about h2{
        font-size: 6vw;
    }

    #about h3{
        font-size: 4vw;
    }

    #skill{
        height: auto;
    }


    #nav-bar{
        visibility: hidden;
    }

    #contact{
        height: auto;
    }

    .ParallaxContainer {
      width: 100%;
      position: relative;
      z-index: 0;
      margin: auto 0;
      transform: none;
    }

    .ContentContainer{
        box-shadow: none;
    }

    .fab{
        font-size: 20px !important;
    }
}
